<form [formGroup]='changePasswordForm' (ngSubmit)='onSubmit()' class="ui large form segment">
  <h3 class="ui header">Change your password, {{user?.username}}</h3>

  <div class="field">
    <label for="oldPassword">current password:</label>
    <input type="password" id="oldPassword" formControlName='oldPassword' placeholder="Old Password">
    <div class='ui pointing red basic label' *ngIf='changePasswordForm.get("oldPassword").errors?.required && changePasswordForm.get("oldPassword").touched'>
      an old password is required
    </div>
    <div class='ui pointing red basic label' *ngIf='changePasswordForm.get("oldPassword").errors?.passwordIncorrect && changePasswordForm.get("oldPassword").touched'>
      the old password is not correct
    </div>
  </div>

  <div class="two fields" formGroupName='newPasswordGroup'>
    <div class="field">
      <label for="newPassword">new password:</label>
      <input type="password" id="newPassword" formControlName='newPassword' placeholder="New Password">
      <div class='ui pointing red basic label' *ngIf=' passwordControl.errors?.passwordTooShort && passwordControl.touched'>
        new password too short, please use at least {{passwordControl.errors?.passwordTooShort.requiredLength}} letters (got {{passwordControl.errors?.passwordTooShort.actualLength}})
      </div>
    </div>
    <div class="field">
      <label for="confirmNewPassword">confirm new password:</label>
      <input type="password" id="confirmNewPassword" formControlName='confirmNewPassword' placeholder="Confirm New Password">
    </div>
    <div class='ui pointing red basic label' *ngIf=' changePasswordForm.get("newPasswordGroup").errors?.passwordsDiffer && changePasswordForm.get("newPasswordGroup").get("confirmNewPassword").touched  && changePasswordForm.get("newPasswordGroup").get("newPassword").touched'>
      the two new passwords should be the same
    </div>
  </div>
  <button type='submit' [disabled]='!changePasswordForm.valid' class="ui positive right floated button">change</button>
</form>