.rTablePostedBy{
    width: 10%;
}

.rTableTitel{
    width: 15%;
}

.rTableDescription{
    width: 40%;
}

.rTablePostDate{
    width: 15%;
}

.rTableAantalReacties{
    width: 10%;
}

.rTableAantalLikes{
    width: 10%;
}

tr:hover{
    background: rgba(0,0,0,.05)!important;
    color: rgba(0,0,0,.95)!important;
}

.klikbaar{
    cursor: pointer !important;
}

.klikbaar:hover{
    background: rgba(0,0,0,.05)!important;
    color: rgba(0,0,0,.95)!important;
}