<h2>Forum</h2>
<table class="ui fixed single line celled table">
  <thead>
    <tr>
      <th class="rTablePostedBy">Posted By</th>
      <th class="rTableTitel">Title</th>
      <th class="rTableDescription">Description</th>
      <th class="rTablePostDate klikbaar" (click)="sorteerDatum()">Posted</th>
      <th class="rTableAantalReacties klikbaar" (click)="sorteerReacties()">Reactions</th>
      <th class="rTableAantalLikes klikbaar" (click)="sorteerLikes()">Likes</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let myThread of threads" [thread]="myThread" app-thread></tr>
  </tbody>
</table>