<td class="rTablePostedBy" [routerLink]="['/threads/', thread?.id]">{{thread?.username}}</td>
<td class="rTableTitel" [routerLink]="['/threads/', thread?.id]">{{thread?.title}}</td>
<td class="rTableDescription" [routerLink]="['/threads/', thread?.id]">{{thread?.description}}</td>
<td class="rTablePostDate" [routerLink]="['/threads/', thread?.id]">{{thread?.postDate}}</td>
<td class="rTableAantalReacties" [routerLink]="['/threads/', thread?.id]">{{thread?.aantalReacties}}</td>
<td class="rTableAantalLikes" [routerLink]="['/threads/', thread?.id]">{{thread?.aantalLikes}}</td>