body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: #3f3e3e;
    box-sizing: border-box;
}

a:link {
    text-decoration: none;
    color: #3f3e3e;
}

a:visited {
    text-decoration: none;
    color: #3f3e3e;
}

a:hover {
    text-decoration: none;
    color: #000000;
}

a:active {
    text-decoration: none;
    color: #3f3e3e;
}


.geenMargins{
    margin: 0 !important;
}